body {
  margin: 0;
  font-family: 'Verdana', serif;
}

#header {
  background-color: #4e3e38;
}

#statusContainer {
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

#statusTitle {
  margin-bottom: 5px;
  color: #bcb1ad;
}

#statusView {

  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #a2c25d;
  color: white;
  font-size: 30pt;
  font-family: 'Arial', serif;
  font-weight: bold;

}

#statusView.statusFree {
  background-color: #7fa331;
  border: 1px solid #a2c25d;
}

#statusView.statusOccupied {
  background-color: #a34631;
  border: 1px solid #c47155;
}

#statusView.statusWaiting {
  background-color: #b5a927;
  border: 1px solid #d9cd4d;
}

#statusCounter {
  background-color: #3c2e29;
  padding: 3px 10px;
  display: inline-block;
  margin: 0 auto;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #655651;
  font-size: 10pt;
  color: #bcb1ad;
}

#statusCounter .countdownText {
  margin-top: -10px;
  display: inline-block;
  height: 19px;
  margin-left: 5px;
  vertical-align: middle;
}

/* ------ Stats ------*/

#statsContainer {
  text-align: center;
  background-color: #eeeeee;
}

#statsInnerContainer {
  display: inline-block;
  margin: 0 auto;
}

#statsInnerContainer .statsDetailContainer {
  margin: 10px 30px;
  display: inline-block;
}

#statsInnerContainer .statsDetailValue {
  display: inline;
  font-size: 24pt;
  color: #828282;
}

#statsInnerContainer .statsDetailLabel {
  display: inline;
  font-size: 11pt;
  color: #b3b2b2;
}

/* "End Match" & "Quick Book"  Button */
.appButton {
  width: 250px;
  height: 25px;
  padding-top: 5px;
  border: 1px solid  red;
  margin-bottom: 25px;
  cursor: pointer;
  margin: 35px auto 0 auto;
  text-align: center;
}
