body {
  margin: 0;
  font-family: 'Verdana', serif;
}

#header {
  background-color: #4e3e38;
}

#statusContainer {
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

#statusTitle {
  margin-bottom: 5px;
  color: #bcb1ad;
}

#statusView {

  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #a2c25d;
  color: white;
  font-size: 30pt;
  font-family: 'Arial', serif;
  font-weight: bold;

}

#statusView.statusFree {
  background-color: #7fa331;
  border: 1px solid #a2c25d;
}

#statusView.statusOccupied {
  background-color: #a34631;
  border: 1px solid #c47155;
}

#statusView.statusWaiting {
  background-color: #b5a927;
  border: 1px solid #d9cd4d;
}

#statusCounter {
  background-color: #3c2e29;
  padding: 3px 10px;
  display: inline-block;
  margin: 0 auto;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #655651;
  font-size: 10pt;
  color: #bcb1ad;
}

#statusCounter .countdownText {
  margin-top: -10px;
  display: inline-block;
  height: 19px;
  margin-left: 5px;
  vertical-align: middle;
}

/* ------ Stats ------*/

#statsContainer {
  text-align: center;
  background-color: #eeeeee;
}

#statsInnerContainer {
  display: inline-block;
  margin: 0 auto;
}

#statsInnerContainer .statsDetailContainer {
  margin: 10px 30px;
  display: inline-block;
}

#statsInnerContainer .statsDetailValue {
  display: inline;
  font-size: 24pt;
  color: #828282;
}

#statsInnerContainer .statsDetailLabel {
  display: inline;
  font-size: 11pt;
  color: #b3b2b2;
}

/* ------ Queue ------*/
#queueContainer {
  text-align: center;
  margin-top: 30px;
}

#queueContainer .queueEntry {
  background-color: #f9f9f9;
  margin: 10px auto;
  padding: 8px 10px;
  border: 1px solid #eeeeee;
  width: 900px;
  text-align: left;
}

#queueContainer .queueAddEntryButton {
  display: inline-block;
  background: url(../images/addMatchToQueueButton.png);
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#queueContainer .queueAddEntryButton.active {
  background: url(../images/addMatchToQueueButton_hover.png);
}

#queueContainer .queueAddEntryText {
  display: inline-block;
  vertical-align: middle;
  margin-top: -25px;
  margin-left: 15px;
  color: #848484;
}

#queueContainer .queueRemoveEntryButton {
  display: inline-block;
  background: url(../images/addMatchToQueueButton.png);
  width: 36px;
  height: 36px;
  cursor: pointer;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#queueContainer .queueRemoveEntryButton.active {
  background: url(../images/addMatchToQueueButton_hover.png);
}

#queueContainer .queuePlayerContainer {
  display: inline-block;
  margin-right: 20px;
}

#queueContainer .queuePlayerImage {
  display: inline-block;
  background: url(../images/player-inactive.png);
  width: 32px;
  height: 30px;
  cursor: pointer;
}

#queueContainer .queuePlayerImage.active {
  background: url(../images/player-active.png) !important;
}

#queueContainer .queuePlayerImage.hover {
  background: url(../images/player-hover.png);
}


#queueContainer .queuePlayerName {
  display: inline-block;
  margin-left: 5px;
}


#queueContainer .queuePlayerName input {
  margin-top: -22px;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  color: #848484;
  font-size: 15px;
  border: 1px solid #e1e1e1;
  background-color: #fcfcfc;
  height: 22px;
  width: 120px;
  padding: 3px;

}

#queueContainer .bookingButton {
  display: inline-block;
  background: url(../images/sport_soccer_inactive.png);
  width: 32px;
  height: 32px;
  cursor: default;
}

#queueContainer .bookingButton.active {
  background: url(../images/sport_soccer_active.png);
  cursor: pointer;
}

#dropUsers, #dropMatches {
  cursor: pointer;
}